.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: top;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.card {
  margin: 1rem;
  padding: 4.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
  padding: horizontal;
  align-items: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.signin {
  background-color: aqua;
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  
}
.signin a {
  background-color: rgb(183, 245, 142);
  margin: 1rem;
  padding: 0.25rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  font: bold;
  font-size: larger;
  align-items:  center 
}
.signup {
  background-color: rgb(161, 240, 161);
  margin: 0.25rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.signup a {
  background-color: rgb(35, 235, 28);
  margin: 1rem;
  padding: 0.25rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  font: bold;
  font-size: larger;
  align-items:  center;
 
 }
.signin PhoneInput {
  padding: 0.25rem;
  align-content: left;

}
.forgot {
  margin-right: auto;
}
.carda {
  margin: 1rem;
  padding: 3.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
  padding: horizontal;
  justify-items: left; 
}
.student {
  margin: 0.5rem;
  padding: 2.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  padding: horizontal;
  align-items: center; 
}
.carda:hover,
.carda:focus,
.carda:active {
  color: #0070f3;
  border-color: #0070f3;
}
.student:hover,
.student:focus,
.student:active {
  color: #0070f3;
  border-color: #0070f3;
}
.sta {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.teacher {
  margin: 0.5rem;
  padding: 2.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  padding: horizontal;
  align-items: center; 
}
.administrator {
  margin: 0.5rem;
  padding: 2.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  padding: horizontal;
  align-items: center; 
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
